@import "tailwindcss";

body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background-color: #f4f6f9;
}

/* Links */
a {
  text-decoration: none;
  color: rgb(94, 94, 197);
}



/* Common Button */
.primary-btn {
  background-color: #7ac943;
  border: none;
  padding: 10px 20px;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 4px;
  transition: 0.3s;
}

.primary-btn:hover {
  background-color: #6ab637;
}

/* Card Design */
.card {
  background: white;
  padding: 30px;
  width: 350px;
  border-radius: 8px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08);
}